.background_move {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-repeat: repeat-y;
  background-size: 100% auto;
  z-index: 1;
  animation: flymove 25s linear infinite;
}
@keyframes flymove {
  0% {
    background-position: center 0px;
  }
  50% {
    background-position: center 100vh;
  }
  100% {
    background-position: center 0;
  }
}
body {
  margin: 0;
  min-height: 100vh;
  background-size: cover;
  background: #fff url("../image/bg.jpg") no-repeat center 0;
  position: relative;
}
.clearfix::after {
  display: table;
  clear: both;
  content: "";
  visibility: hidden;
}
.mask {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  word-break: break-all;
  background-color: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  display: block;
  z-index: 1000;
}
.container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  word-break: break-all;
}
.container .lottery-arena {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 91%;
  height: 87.4%;
}
.container .lottery-arena .img-title {
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}
.container .lottery-arena .arena-top {
  position: relative;
  left: 0;
  bottom: 0;
  width: 92.73%;
  height: 5.9%;
  margin: 0 auto;
  background: url("../image/lottery-top.png") no-repeat;
  background-size: 100% 100%;
}
.container .lottery-arena .arena-center {
  padding: 2%;
  box-sizing: border-box;
}
.container .lottery-arena .arena-center .avatar-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1000;
}
.container .lottery-arena .arena-center .avatar-container .one-group {
  display: none;
}
.container .lottery-arena .arena-center .avatar-container .active {
  display: block;
}
.container .lottery-arena .arena-center .avatar-container .avatar-highlight {
  position: relative;
  z-index: 2000;
}
.container .lottery-arena .arena-center .avatar-container img {
  width: 10%;
  vertical-align: top;
}
.container .lottery-arena .arena-center {
  position: relative;
  left: 0;
  bottom: 0;
  width: 92.73%;
  height: 76.19%;
  margin: 0 auto;
  background: url("../image/lottery-center.png") no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}
.container .lottery-arena .arena-bottom {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 100%;
  height: 18%;
  z-index: 2;
  background: url("../image/lottery-bottom.png") no-repeat;
  background-size: 100% 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.container .lottery-arena .arena-bottom .count-num {
  flex: 1;
  text-align: center;
  margin-top: 2%;
  font-size: 32px;
  color: #fff;
}
.container .lottery-arena .arena-bottom .count-num span {
  font-size: 40px;
  font-weight: bold;
}
.container .lottery-arena .arena-bottom .begin-lottery {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 21%;
}
.container .lottery-arena .arena-bottom .begin-lottery img {
  width: 100%;
}
/*正方形*/
.square-img {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  /*overflow: hidden;*/
}
.square-img img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hide {
  display: none;
}
.show {
  display: block;
}
.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20em;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  z-index: 1200;
  opacity: 1;
  padding: 10px 5px;
  transition: all 0.3s ease-in;
}
.popup .btn-close-popup {
  position: absolute;
  right: 17px;
  top: 10px;
  font-size: 28px;
  width: 30px;
  text-align: right;
  line-height: 1;
  color: #ccc;
}
.popup .user-wrapper {
  position: relative;
  z-index: 1300;
  margin-top: 5em;
  text-align: center;
  color: #fff;
}
.popup .header-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.popup .header-wrapper img {
  z-index: 2;
  border-radius: 50%;
  width: 17em;
}
.popup .header-wrapper .circle-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.popup .header-wrapper .circle-wrapper :root {
  --deg: 1;
  --x: -50%;
  --y: -50%;
}
.popup .header-wrapper .circle-wrapper .a-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(var(--x, -50%), var(--y, -50%)) rotate(0deg);
  transform: translate(var(--x, -50%), var(--y, -50%)) rotate(0deg);
  width: 20em;
  height: 20em;
  border-radius: 90% 95% 85% 105%;
  background: #0f0;
  mix-blend-mode: screen;
  -webkit-filter: hue-rotate(0deg);
  filter: hue-rotate(0deg);
  -webkit-animation: wobble calc(150ms * var(--t)) linear infinite;
  animation: wobble calc(150ms * var(--t)) linear infinite;
  -webkit-transform-origin: -var(--y) -var(--x);
  transform-origin: -var(--y) -var(--x);
  box-shadow: 0 0 0.5em 0.2em #000 inset, 0 0 0.15em 0 #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup .header-wrapper .circle-wrapper .a-circle::after {
  font-size: 1em;
  white-space: nowrap;
}
.popup .header-wrapper .circle-wrapper .a-circle:nth-child(1) {
  --x: -53%;
  --y: -53%;
  --t: 37;
}
.popup .header-wrapper .circle-wrapper .a-circle:nth-child(2) {
  --x: -47%;
  --y: -52%;
  --t: 58;
}
.popup .header-wrapper .circle-wrapper .a-circle:nth-child(3) {
  --x: -45%;
  --y: -50%;
  --t: 46;
}
.popup .header-wrapper .circle-wrapper .a-circle:nth-child(4) {
  --x: -53%;
  --y: -45%;
  --t: 72;
}
.popup .header-wrapper .circle-wrapper .a-circle:nth-child(5) {
  --x: -55%;
  --y: -45%;
  --t: 62;
}
@-webkit-keyframes wobble {
  to {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
    -webkit-transform: translate(var(--x), var(--y)) rotate(360deg);
    transform: translate(var(--x), var(--y)) rotate(360deg);
  }
}
@keyframes wobble {
  to {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
    -webkit-transform: translate(var(--x), var(--y)) rotate(360deg);
    transform: translate(var(--x), var(--y)) rotate(360deg);
  }
}
/*# sourceMappingURL=lottery.css.map */